.img_sinal
{
	width: 160px;
	height: 160px;
}

.sinal
{
	width: 160px;
	margin-top: 30px;
}

.globo
{
	width: 300%;
	height: 1000px;
	margin: 250px -100% -10px -100%;
	background-color: #b0c4de;
	border: none;
	border-radius: 100%;
}